/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

/* ! /Reset */

body {
    background-color: rgb(241, 239, 239);
}

header {
    background-color: #fff;
}

button {
    background-color: #fff;
    border: 0.5px solid grey;
    border-radius: 5px;
    font-size: 16px;
    padding: 4px 10px;
}

button:hover {
    background-color: rgb(22, 185, 250);
}



.content {
    padding: 60px 0;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 25px;
    border-radius: 3px
}

.space {
    padding-top: 1px;
    background-color: #ffffff00;
    max-width: 1000px;
    margin: 0 auto;
}

.list {
    background-color: #fff;
}

.list-item {
    margin-top: 10px;
    margin-bottom: 25px;
}


.list-item>* {
    vertical-align: middle;
}

.list-item p {
    display: inline;
    font-size: 18px;
}

.list-item span {
    display: inline-block;
    width: 23px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 22px;
}

/* ! Color-List-item */

.list-item .positive {
    color: #0eca08;
    border: 1px solid #0eca08;
}

.list-item .negative {
    color: #ca1f08;
    border: 1px solid #ca0808;
}

.list-item h5 {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.list-item .editorial {
    background-color: rgb(22, 185, 250);
}

.list-item .goals {
    background-color: rgb(165, 46, 149);
}

.list-item .recruiting {
    background-color: rgb(35, 201, 173);
}


.list-item .mobile {
    background-color: rgb(255, 166, 0);
}

.list-item .website {
    background-color: rgb(230, 90, 206);
}

.list-item .sales {
    background-color: rgb(169, 230, 90);
}

/* ! /Color-List-item */